<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br><br>
    <ion-title style="float:left;">Érdekes cikk<br><br></ion-title>
    <ion-button style="float: right;" (click)="setOpenModal(true)" >Új érdekes cikk</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  
  <ion-list>
    @for(item of this.urlList; track item.id ){
      <ion-item>
        {{item.url}}
      </ion-item>
    }
    @empty {
      <ion-item>
        <ion-loading trigger="open-loading"  message="Kis türelmet a betöltés folyamatban" duration="3000"></ion-loading>
        <!--ion-card>
          <ion-card-title>Egy kis türelmet, betöltés folyamatban</ion-card-title>
        </ion-card-->
      </ion-item>
    }
  </ion-list>  
</ion-content>

    <!-- Modális ablak, amit akkor nyitunk ha tárolva a belépési URL-->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Új érdekes cikk</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenModal(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">

          <!-- Login form a Modális ablakon belül -->
          <form [formGroup]="formData" (ngSubmit)="onSubmit()"  padding-right>

            <ion-list>
              <ion-item>
                <ion-input 
                    fill="solid" 
                     
                    label="Url" 
                    placeholder="url"  
                    formControlName="url"></ion-input>
              </ion-item>
                            
            </ion-list>
    
            <ion-button type="submit" expand="block">Mentés</ion-button>
    
          </form>
          
          <!-- Alert ablak - Hibás volt a bejelentkéz-->
          <ion-alert
              [isOpen]="isAlertOpen"
              header="Érdekes cikk"
              message="Mentés megtörtént"
              [buttons]="alertButtons"
              (didDismiss)="mindentBezar()"
            ></ion-alert>

         </ion-content>
      </ng-template>
    </ion-modal>

