<ion-app>
<ion-header [translucent]="true">
  <ion-toolbar>
    <table witdh="100">
      <tr>
        <td>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </td>
        <td><ion-title style="float:left;vertical-align: middle;">Érdekes cikk<br><br></ion-title></td>
        <td><ion-button style="margin-left: auto; margin-right: left;" (click)="setOpenModal(true)" >Új érdekes cikk</ion-button></td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  
  <ion-list>
    @for(item of this.urlList; track item.id ){
      <ion-item>
        <table width="100%">
          <tr>
            <td style="width: calc( 100% - 90px );">{{item.url}}</td>
            <td style="width: 45px;text-align: right;"><ion-icon name="checkmark-circle-outline"  style="cursor: pointer;" (click)="ready_url(item.id)" size="large" [color]="item.is_feldolgozva==1 ? 'success' : 'warning'"></ion-icon></td>
            <td style="width: 45px;text-align: right;cursor:pointer;"><ion-icon name="close-outline"  style="cursor: pointer;" (click)="onDeleteClicked(item.id)"  size="large" color="danger"></ion-icon></td>
        </tr>
        </table>
      </ion-item>
      
    }
    @empty {
      <ion-item>
        <ion-loading trigger="open-loading"  message="Kis türelmet a betöltés folyamatban" duration="3000"></ion-loading>
        <!--ion-card>
          <ion-card-title>Egy kis türelmet, betöltés folyamatban</ion-card-title>
        </ion-card-->
      </ion-item>
    }
  </ion-list>  
</ion-content>

    <!-- Modális ablak, amit akkor nyitunk ha tárolva a belépési URL-->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Új érdekes cikk</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenModal(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">

          <!-- Login form a Modális ablakon belül -->
          <form [formGroup]="formData" (ngSubmit)="onSubmit()"  padding-right>

            <ion-list>
              <ion-item>
                <ion-input 
                    fill="solid" 
                     
                    label="Url" 
                    placeholder="url"  
                    formControlName="url"></ion-input>
              </ion-item>
                            
            </ion-list>   
            <ion-button type="submit" expand="block">Mentés</ion-button>
    
          </form>
          
          <!-- Alert ablak - Hibás volt a bejelentkéz-->
          <ion-alert
              [isOpen]="isAlertOpen"
              header="Érdekes cikk"
              message="Mentés megtörtént"
              [buttons]="alertButtons"
              (didDismiss)="mindentBezar()"
            ></ion-alert>

         </ion-content>
      </ng-template>
    </ion-modal>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-button style="margin-left: auto; margin-right: left;" (click)="setOpenModal(true)" >Új érdekes cikk</ion-button>
  </ion-toolbar>
</ion-footer>
</ion-app>
