<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br><br>
    <ion-title>travel-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div>
   <!--{{uzenet}}<br>--> 
    <!--ion-list-->
      @for(item of this.travel_details; track item.id ){
        <!--ion-item-->
            <div [class]="item.utazas_tipus_id==2 ? 'korutazas' : 'utazas'">{{item.name}}</div>
            <div style="clear: both;"></div>
            @if (item.utazas_tipus_id!=2) {
            <!--ion-card-->
            <div class="utazas_adatai">
              @for(nap of item.days; track nap.id ){
                <ion-list>
                  <span class="title">{{nap.name}}</span><ion-icon name="map-outline"  style="float: right;cursor: pointer;" (click)=open_terkep(nap.id,travel_id)></ion-icon>
                  @for(program of nap.programs; track program.id ){
                    <!--div class="program_adatai"-->
                    <ion-card>
                      <div class="program_nev">
                        <span style="width:61%; display: inline-block;">{{program.name}}</span>
                        <span style="width:15%; display: inline-block;" [ngClass]="minosegClass(program.minoseg_id)">{{program.minoseg}}</span>
                        <div style="width:12%; display: inline-block;">
                          <ion-icon class="program-icon" id="program-icon-{{program.id}}" 
                              [color]="program.is_lattam==1 ? 'success' : 'medium'"
                              [name]="program.is_lattam==1 ? 'checkmark-done-outline' : 'checkmark-outline'"
                              size="large" 
                              (click)=ready_program(item.id,program.id) style="float: right;">
                          </ion-icon>
                        </div>
                        <div style="width:12%; display: inline-block;">
                          <ion-icon class="program-icon" id="program-icon-{{program.id}}" size="large" [name]="nyitva[program.id]!==undefined && nyitva[program.id]==1 ? 'chevron-up-outline' : 'chevron-down-outline'" (click)=open_program(program.id) style="float: right;"></ion-icon>
                        </div>
                        <div style="clear: both;"></div>

                      </div>  
                      <div id="program_{{program.id}}" [class]="nyitva[program.id]!==undefined && nyitva[program.id]==1 ? 'nyitott_program' : 'zart_program' ">
                      <!--div id="program_{{program.id}}" [class]="program.id==3 ? nyitott_program : zart_program"-->
                        <div class="program_fejlec">Leírás</div>
                        <div class="program_tartalom">{{program.description}}</div>
                        <div class="program_fejlec">Megjegyzés</div>
                        <div class="program_tartalom">{{program.comment}}</div>
                        <div style="text-align: center;"><img src="{{forras_url}}{{program.image}}" style="max-width: 50%;" /></div>
                        <div class="program_fejlec">Hivatkozások</div>
                        <div><a href='{{program.url}}' target="_blank">{{program.url}}</a></div>
                        <div>{{tordeles("valami")}}</div>
                      </div>
                    </ion-card>          
                    <!--/div-->
                  }
                </ion-list>
              }
            </div>
            <!--/ion-card-->
            }
        <!--/ion-item-->
      }
    <!--/ion-list-->
  </div>
</ion-content>


<!--    TERKEPES ABLAK MEGNYITASA   -->
    <!-- Modális ablak, amit akkor nyitunk ha tárolva a belépési URL-->
    <!--ion-modal [isOpen]="is_napi_terkep">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>A nap helyei térképen</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="close_terkep()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">

            <div id="map"></div>

        </ion-content>
      </ng-template>
    </ion-modal-->
